.container{
    padding: 2.5%;
    border: 2px solid rgb(71 85 105);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    max-width: 400px;
}

.image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.img{
    position: absolute;
    width: 100%;
    height: auto;
}

.input {
    display: flex;
    margin: 5%;
}